<section class="contact" id="contact" data-scroll-index="2">
      <div class="spectacledcoder-footer">
          <div class="spectacledcoder-footer-top">
      
          </div>
          <div class="spectacledcoder-footer-content">
              <div class="spectacledcoder-footer-section">
                  <h1 class="spectacledcoder-footer-heading">Let's Connect</h1>
              </div>
              <div class="spectacledcoder-footer-section">
                  <ul class="d-footer-ul">
                      <li class="d-footer-li-h"><b>Quick Links</b></li>
                      <li class="d-footer-li"><a href="#home" style="list-style-type: none;text-decoration: none;color:black">Home</a></li>
                      <li class="d-footer-li"><a href="#about" style="list-style-type: none;text-decoration: none;color:black">About</a></li>
                      <li class="d-footer-li"><a href="#services" style="list-style-type: none;text-decoration: none;color:black">Services</a></li>
                      <li class="d-footer-li"><a href="#projects" style="list-style-type: none;text-decoration: none;color:black">Projects</a></li>
                      <li class="d-footer-li"><a href="#contact" style="list-style-type: none;text-decoration: none;color:black">Contact</a></li>
                  </ul>
              </div>
              <div class="spectacledcoder-footer-section">
                  <ul class="d-footer-ul">
                      <li class="d-footer-li-h"><b>Contact Info</b></li>
                      <li class="d-footer-li"><i class="fa fa-envelope" aria-hidden="true"></i>Email : heinthirihtt &#64;gmail.com</li>
                      <li class="d-footer-li">  <i class="fa fa-phone-square" aria-hidden="true"></i>Phone : +959 774 694 4461</li>
                  </ul>
              </div>
              <div class="spectacledcoder-footer-section">
                  <div class="logo-head">
                      <b>Follow me on</b>
                  </div>
                  <div class="logo">
                     <a href="https://www.instagram.com/heinthiri_htt?igsh=MWp1b251M241MWMwdw%3D%3D&utm_source=qr" target="_blank"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/instagram-new.png" alt="instagram-new"/></a>
                     <a href="https://www.facebook.com/share/18q8MvV3ib/?mibextid=wwXIfr" target="_blank"><img width="30" height="30" src="https://www.svgrepo.com/show/494273/facebook-round.svg" alt="youtube-squared"/></a>
                      <a href="https://dribbble.com/dark-soul" target="_blank"><img width="25" height="25" src="https://img.icons8.com/offices/100/dribbble.png" alt="dribbble"/></a>
                  </div>    
              </div>
          </div>
          
      </div>
      </section>
