:root {
    --accent-color: springgreen;
    --main-transition: all .3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #222;
    padding-bottom: 50px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}