.footer {
    margin-top: auto; /* pushes it to bottom */
   // background-color: #f5f5f5;
   background: rgba(15, 23, 42, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .copyright-text {
    margin: 0;
    font-size: 14px;
    color: #888;
  }