<section class="about-area section-padding" id="about" data-scroll-index="1">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-6 mb-4">
                      <div class="section-title">
                          <h4>About</h4>
                          <h2>Personal <span>Details</span></h2>
                      </div>
                      
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="about-content">
                          <h3 class="about-title">I'm <span>Hein Thiri Htun</span> and I'm a Frontend Developer</h3>
                          <p class="details">I am a passionate web designer with a love for creating beautiful and functional websites. I enjoy working with HTML, CSS, and JavaScript to bring ideas to life and enhance user experiences. In my free time, I like to explore new design trends and work on personal projects that challenge my creativity</p>
                      </div>
                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-1 mb-4">
                  <div class="skillset">
          <div class="skill-lockup">
        <span class="skill-name mb">Communication</span><span class="skill-status">50%</span>
        <span class="skill-bar">
          <span class="skill-level  communication"></span>
        </span>
      </div><!-- communication end -->

      <div class="skill-lockup mr">
        <span class="skill-name mb">Planning</span><span class="skill-status">15%</span>
        <span class="skill-bar">
          <span class="skill-level planning"></span>
        </span>
      </div><!-- planning end -->
      <div class="skill-lockup">
        <span class="skill-name mb">Learning</span><span class="skill-status">45%</span>
        <span class="skill-bar">
          <span class="skill-level learning"></span>
        </span>
      </div><!-- learning end -->

      <div class="skill-lockup mr">
        <span class="skill-name mb">Programming</span><span class="skill-status">40%</span>
        <span class="skill-bar">
          <span class="skill-level programming"></span>
        </span>
      </div><!-- programming end -->

      <div class="skill-lockup">
        <span class="skill-name mb">Visual Design</span><span class="skill-status">20%</span>
        <span class="skill-bar">
          <span class="skill-level visual-design"></span>
        </span>
      </div><!-- visual-design end -->

      <div class="skill-lockup mr">
        <span class="skill-name mb">UX Design</span><span class="skill-status">10%</span>
        <span class="skill-bar">
          <span class="skill-level ux-design"></span>
        </span>
      </div><!-- ux-design end -->	
    </div><!-- skillset end -->
                  </div>
                  <div class="col-md-12 col-lg-6 col-xl-5 mb-4">
                  <div class='education'>
                      <div class='education__heading'>
                        <h4> <i class="fa fa-graduation-cap" aria-hidden="true"></i>Education & Experiences</h4>
                      </div>
                      <div class='education__content'>
                          <h5>Myanmar IT Star Company</h5>
                          <span class='year'>2019</span>
                          <p>I completed a 3-month internship at Myanmar IT Star Company, where I learned C# and ASP.NET, and developed practical skills in business development. </p>
                        </div>
                      <div class='education__content'>
                        <h5>University Of Computer Studies Magway</h5>
                        <span class='year'>2020</span>
                        <p>I had planned to graduate in 2020, but the COVID-19 pandemic in my country interrupted my studies, and I was unable to complete my final year. Currently, I’m working at a local company.</p>
                      </div>
                     
                      <div class='education__content'>
                        <h5>Best Gide Education Agency</h5>
                        <span class='year'>2021</span>
                        <p>I worked at Best Guide Education f or about one year, focusing on customer relations and database maintenance.</p>
                      </div>
                      <div class='education__content'>
                        <h5>Systematic Business Solution Company</h5>
                        <span class='year'>2022</span>
                        <p>I am currently working as a Frontend Developer at Systematic Business Solution, with 2 years of experience in the role.</p>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-1 mb-4">
                      <div class="info">
                      <h4 class="info-title">Personal Information</h4>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i>Email - heinthirihtt &#64;gmail.com</p>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i>Date Of Birth - 17 June 1999</p>
                      <p><i class="fa fa-phone" aria-hidden="true"></i>Phone Number - +959 774 694 461</p>
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i>Address - Hlaing, Township.</p>
                      </div>
                      <div class="info">
                      <h4 class="info-title">Personal Archievement</h4>
                      <p><i class="fa fa-certificate" aria-hidden="true"></i>General English Four Skills </p>
                      <p><i class="fa fa-certificate" aria-hidden="true"></i>Association Machinery Program </p>
                      <p><i class="fa fa-certificate" aria-hidden="true"></i>First Prize (2019-2020) Academic Year </p>
                      <p><i class="fa fa-certificate" aria-hidden="true"></i>Huawei Seeds For The Future Program 2020 </p>
                        <p><i class="fa fa-certificate" aria-hidden="true"></i>Dipolima in Professional English</p>
                      </div>
                      </div>
              </div>
          </div>
          
      </section>
