<section class="projects section-project" id="projects" data-scroll-index="2">
          <div class="container mb-5">
    <div class="col-12 mt-5">
      <div class="row justify-content-center">
        <div class="col-md-10 heading-section text-center">
          <div class="section-title">
              <h4>Projects</h4>
              <h2><span> A collection of projects that showcase and creativity</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5 card-effects">
       <div class="col-md-4">
         <div class="card card-effect p-0 h-100">
           <div class="card-img rounded-0">
             <div class="img-hover">
               <img class="rounded-top img-fluid" 
                    src="assets/images/product-image.jpg" alt="...">
             </div>
           </div>
           <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
             <div class="pt-6">
               <div class="h4 mb-3 mt-4 text-center">
                 <a class="text-decoration-none fw-bolder text-uppercase text-tb-lines" href="#/">Company Product Websites</a>
               </div>
               <p class="text-secondary text-center lh-base">
                  The website features both company product showcases and hotel services, developed with Angular and the Ionic framework. It supports multiple languages, integrates with Google Analytics, is optimized for SEO, and includes API integration.</p>
             </div>
             <div class="text-center">
               <a href="/#" class="btn d-block btn-primary py-3 fs-5 card-btn md">
                 <i class="fa fa-arrow-right icon-arrow before"></i>
                 <span class="label fw-normal">Know More!</span>
                 <i class="fa fa-arrow-right icon-arrow after"></i>
               </a>
             </div>
           </div>
         </div>
       </div>
      <div class="col-md-4">
        <div class="card card-effect p-0 h-100">
          <div class="card-img rounded-0">
            <div class="img-hover">
              <img class="rounded-top img-fluid" src="assets/images/bank-image.jpg" alt="...">
            </div>
          </div>
          <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
            <div class="pt-6">
              <div class="h4 mb-3 mt-4 text-center"><a class="text-decoration-none fw-bolder text-uppercase text-tb-lines" href="#/">Banking System</a></div>
              <p class="text-secondary text-center ">Developed with Wix Studio, this banking website is fully responsive across mobile, tablet, and desktop devices. It features multilingual support, an integrated CMS portal, and custom functionalities implemented using JavaScript within the Wix Studio environment.</p>
            </div>
             <div class="text-center">
               <a href="/#" class="btn d-block btn-primary py-3 fs-5 card-btn md">
                 <i class="fa fa-arrow-right icon-arrow before"></i>
                 <span class="label fw-normal">Know More!</span>
                 <i class="fa fa-arrow-right icon-arrow after"></i>
               </a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-effect p-0 h-100">
          <div class="card-img rounded-0">
            <div class="img-hover">
              <img class="rounded-top img-fluid" src="assets/images/cake.jpg" alt="...">
            </div>
          </div>
          <div class="card-body position-relative pt-0 px-1-9 pb-1-9">
            <div class="pt-6">
              <div class="h4 mb-3 mt-4 text-center"><a class="text-decoration-none fw-bolder text-uppercase text-tb-lines" href="#/">Cake Selling System</a></div>
              <p class="text-secondary text-center">Built with C#, ADO.NET, and MySQL as part of a team project, this Cake Selling System provides an efficient solution for cake shops. It simplifies in-store operations and offers customers the convenience of ordering cakes online.</p>
            </div>
             <div class="text-center">
               <a href="/#" class="btn d-block btn-primary py-3 fs-5 card-btn md">
                 <i class="fa fa-arrow-right icon-arrow before"></i>
                 <span class="label fw-normal">Know More!</span>
                 <i class="fa fa-arrow-right icon-arrow after"></i>
               </a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </section>
