<section id="home" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="hero-one">
                    <div class="hero-text">
                        <h1 class="glitch-text" data-text="Frontend Developer">Frontend Developer</h1>
                        <div class="typing-container">
                            <span class="typing">{{ displayText }}</span>
                        </div>
                        <p class="hero-description">I build responsive, user-friendly web interfaces that bring ideas to life. Passionate about turning design into elegant, interactive experiences using HTML, CSS, JavaScript, and modern frameworks.
                        </p>
                        <div class="cta-buttons">
                            <button class="btn primary"><a href="assets/pdf/HeinThiriCV.pdf" style="text-decoration: none;color:white;">Hire Me </a></button>
                            <button class="btn secondary"><a href="#contact" style="text-decoration: none;">Contact Me</a></button>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="hero-one">
                    <div class="hero-image">
                        <div class="home-img">
                            <img src="assets/images/portfolio.jpg" alt="">
                        </div>
                    </div>
                    </div>
            </div>
        </div>
            </div>
        </section>
        <!-- About Us Section-->
      <app-about></app-about>
       
        <app-services></app-services>
         <app-projects></app-projects>
      
  
      <!--contact-->
      <app-contact></app-contact>